/* Reset basic elements */
body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

/** Colors */
$yellow: rgb(254, 215, 102);
$grey: #f5f5f5;
$black: #000;

// Elevation
@mixin elevation($level) {
    @if $level == 1 {
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    }
    @else if $level == 2 {
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    }
    @else if $level == 3 {
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    }
    @else if $level == 4 {
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    }
    @else if $level == 5 {
        box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
    }
}

/** Basic styling */
body {
    font: 400 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #111;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
}

/** Set `margin-bottom` to maintain vertical rhythm */
h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, ol, dl, figure, .highlight {
    margin-bottom: 15px;
}

html {
    scroll-behavior: smooth;
}

/** Links */
a {
    color: #2a7ae2;
    text-decoration: none;
}

a:visited {
    color: #1756a9;
}

a:hover {
    color: #111;
    text-decoration: underline;
}

/* Header */
.header {
    height: 100vh;
    border: none;
    background: linear-gradient(180deg, rgba(32, 32, 32, 0.8), rgba(78, 78, 78, 0.8)), url("../images/fondo.jpg") no-repeat center center fixed;
    background-size: cover;
    text-align: center;
    color: white;
    display: grid;
    grid-template: ". . contact" ". text ." ". scroll .";
    justify-items: center;
    align-items: center;
}

.intro {
    &__container {
        grid-area: text;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom:50%;
        @media screen and (max-width: 400px) {
            font-size: 22px;
        }

        &__name {
            font-size: 70px;
            line-height: 1.21;
            font-family: "Montserrat", sans-serif;
            text-transform: uppercase;
            font-weight: 700;

            & > span:first-child {
                position: relative;
                animation: moveName 1s;
                color: $yellow;
            }

            & > span:nth-child(2) {
                position: relative;
                animation: moveSurName 1s;
                color: white;
            }
        }

        @media screen and (max-width: 400px) {
            font-size: 50px;
        }

        &__text {
            font-family: "Montserrat", serif;
            opacity: 0.75;
        }
    }

    &__contact {
        grid-area: contact;
        font-family: "Montserrat", sans-serif;
        border-radius: 50px;
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;
        border: solid 2px;
        padding: 10px 25px;
        color: white;
        position: relative;
        top:-10%;
        left:12%;

        &:hover {
            color: black;
            background: $yellow;
            text-decoration: none;
            font-weight: 1000;
        }
    }

    &__scroll {
        color: white;
        grid-area: scroll;
        opacity: 1;
        height: 70px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;

        a:visited {
            color: white;
        }

        a:hover {
            color: white;
            opacity: .95;
            text-decoration: none;
        }

        &__line {
            position: relative;
            background-color: $yellow;
      
            width: 170px;
            height: 20px;

            &__text {
                position: absolute;
                top: -80%;
                left: 50%;
                
                transform: translateX(-50%);
                font-weight: 400;
                font-size: 18px;
                letter-spacing: .05em;
                color: $grey;
                white-space: nowrap;
                &__shadow{
                    position: absolute;
                    top: -80%;
                    left: 50%;
                    background-color: $black;
                 border-radius:50%;
                
                }
            }
            
        }

        &__thin {
            width: 2px;
            height: 50px;
            position: relative;
            left: 50%;
            background-color: $yellow;
        }
    }
}

.contact-zoom-out {
    animation: popout 1s ease;
}

.fullsize {
    height: 100vh;
}

.studies {
    display: grid;
    grid-template-areas: "header header" "item1 item2" "arrow arrow";
    height: 100vh;

    &__header {
        grid-area: header;
        text-align: center;

        &__title {
            text-align: center;
            padding-top: 25px;
            font-size: 40px;
            font-family: "Montserrat", sans-serif;
        }

        &__subtitle {
            text-align: center;
            font-size: 15px;
            color: #524e4d;
            font-family: "Montserrat", sans-serif;
            padding-left: 150px;
            padding-right: 150px;

            @media (max-width: 800px) {
                padding-left: 10px;
                padding-right: 10px;
            }
        }
    }

    &__column__one {
        grid-area: item1;
        align-self: center;
        background: $grey;
        text-align: center;
        margin: 50px;
        box-sizing: border-box;
        border-radius: 12px;

        @include elevation(3);
    }

    &__column__two {
        grid-area: item2;
        align-self: center;
        background: $grey;
        text-align: center;
        margin: 50px;
        box-sizing: border-box;
        border-radius: 12px;

        @include elevation(3);
    }

    &__item__photo {
        max-height: 200px;
        max-width: 70%;
    }
}

.separator {
    width: 100px;
    text-align: center;
    margin: 0 auto;
    height: 3px;
    border: none;
    margin-bottom: 20px;
    color: $yellow;
    background-color: $yellow;
}

.aptitudes {
    display: grid;
    grid-template-areas: "header header header" "item1 item2 item3";
    background-color: #EEEEEE;
    height: 100vh;

    &__header {
        grid-area: header;
        text-align: center;

        &__title {
            text-align: center;
            padding-top: 25px;
            font-size: 40px;
            font-family: "Montserrat", sans-serif;
        }

        &__subtitle {
            text-align: center;
            font-size: 15px;
            color: #524e4d;
            font-family: "Montserrat", sans-serif;
            padding-left: 150px;
            padding-right: 150px;

            @media (max-width: 800px) {
                padding-left: 10px;
                padding-right: 10px;
            }
        }
    }

    &__column {
        &__one {
            grid-area: item1;
            background: rgb(254, 215, 102);
            text-align: center;
        }

        &__two {
            grid-area: item2;
            background: rgb(254, 215, 102);
            text-align: center;
        }

        &__three {
            grid-area: item3;
            background: rgb(254, 215, 102);
            text-align: center;
        }
    }

    &__item__photo {
        max-height: 250px;
        max-width: 70%;
    }
}

/* FOOTER */

.footer {
    display: grid;
    grid-template-areas: "header header header" "item1 item2 item3";
    text-align: center;
    background-color: #252a30;
    color: #fff;
    text-align: center;
    position: relative;
    padding: 80px;

    &__text {
        grid-area: header;
        margin: 24px 0;
        color: rgba(255, 255, 255, 0.4);
        font-size: 1.0rem;
        line-height: 1.8;
    }

    &__social__links {
        grid-area: item2;

        & > a {
            color: rgba(255, 255, 255, 0.511);
            text-decoration: none;
            margin: 0 4px;
            height: 40px;
            width: 40px;
            font-size: 1.6rem;
            background-color: rgba(0, 0, 0, 0.212);
            border-radius: 50%;
            transition: all .3s ease-in-out;
        }

        & > a:hover {
            color: white;
            background-color: rgba(0, 0, 0, 0.518);
        }

        & > a:visited {
            color: white;
        }
    }
}

.chevbron {
    text-align: center;
    grid-area: arrow;
}

/* ANIMATIONS */

@keyframes moveSurName {
    from {
        top: 100px;
    }

    to {
        top: 0;
    }
}

@keyframes moveName {
    from {
        top: -100px;
    }

    to {
        top: 0;
    }
}

@keyframes popout {
    from {
        transform: scale(0);
    }

    80% {
        transform: scale(1.2);
    }

    to {
        transform: scale(1);
    }
}

@-webkit-keyframes slide-in-left {
    0% {
        -webkit-transform: translateX(-100%);
    }

    50% {
        -webkit-transform: translateX(0%);
    }
}

@-webkit-keyframes slide-out-left {
    0% {
        -webkit-transform: translateX(0%);
    }

    50% {
        -webkit-transform: t translateX(-100%);
    }
}

.slide-in-left {
    -webkit-animation: slide-in-left 1.5s ease-in-out both;
}

.slide-out-left {
    -webkit-animation: slide-out-left 1.5s ease-in-out both;
}

@-webkit-keyframes slide-in-right {
    0% {
        -webkit-transform: translateX(100%);
    }

    50% {
        -webkit-transform: translateX(0%);
    }
}

@-webkit-keyframes slide-out-right {
    0% {
        -webkit-transform: translateX(0%);
    }

    50% {
        -webkit-transform: t translateX(100%);
    }
}

.slide-in-right {
    -webkit-animation: slide-in-right 1.5s ease-in-out both;
}

.slide-out-right {
    -webkit-animation: slide-out-right 1.5s ease-in-out both;
}
